@use 'Base/reset' as *;
@use 'Base/typography' as *;
@use 'abstract/variables' as *;
@use 'Components/buttons' as *;
header{
    width: 100%;
    position: absolute;
    nav{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 25px 40px; // 25px 40px
        // img{}
        .navbar-side{
            display: flex;
            align-items: center;
            gap: 50px;
            ul{
                display: flex;
                gap: 50px;
                li{
                    list-style: none;
                    color: $white-color;
                    font-size: 18px;
                    font-weight: $font-light;
                    letter-spacing: 0px;
                    line-height: 27px;
                }
            }
            .header-btn{
                font-size: 15px;
                padding: 9px 30px;
                line-height: 27px;
            }
        }
    }
}
main{
    .head-section{
        min-height: 100%;
        height: 1080px;
        .head-section-img{
            width: 100%;
            height: 100%;
            background-image: url(../img/Header\ back.png);
            background-size: cover;
            .head-section-overlay{
                width: 100%;
                height: 100%;
                background: linear-gradient(-45deg, rgba(96, 160, 216, 0.62) 0%, rgba(178, 210, 52, 0.62) 100%);
                .head-section-content{
                    width: 100%;
                    height: 100%;
                    padding: 48.5px 40px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    .head-section-title{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        flex: 1;
                        h1{
                            font-size: 168px; // = 126pt
                            font-weight: $font-medium;
                            color: $white-color;
                            letter-spacing: 0px;
                            line-height: 252px; // = 189pt
                        }
                        h2{
                            font-size: 72px;// = 54pt
                            font-weight: $font-italic;
                            color: $white-color;
                            letter-spacing: 0px;
                            line-height: 108px; // = 81pt
                        }
                    }
                    .head-section-icon-social{
                        justify-self: end;
                        align-self: flex-end;
                        display: flex;
                        justify-content: flex-end;
                        gap: 20px;
                    }
                }
            }
        }
    }
    .second-section{
        padding-inline-start: 148px;
        padding-block: 159px;
        background-image: url(../img/61842.png);
        background-size: contain;
        display: flex;
        overflow-x: hidden;
        .second-section-content{
            display: flex;
            flex-direction: column;
            gap: 40px;
            width: 70%;
            p{
                width: 66%;
            }
            button{
                width: 31%;
            }
        }
        img{
            position: absolute;
            height: 100%;
            display: none;
        }
    }
    .third-section{
        background-image: url(../img/ismael-trevino-NDyuR4Huig8-unsplash.png);
        background-size: cover;
        padding: 84px 154px;
        display: flex;
        justify-content: flex-end;
        .third-section-content{
            background-color: rgba(178, 210, 52, 0.85);
            width: 60%;
            padding: 42px 68px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 40px;
            h2{
                color: $white-color;
                text-align: center;
            }
            p{
                color: $white-color;
                text-align: center;
                span{
                    text-decoration: underline;
                }
                strong{
                    font-weight: $font-semi-bold;
                }
            }
        }
    }
    .fourth-section{
        background-image: url(../img/pattern.png);
        background-size: contain;
        padding-block: 61px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .fifth-section{
        background-image: url(../img/louis-hansel-MlPD-AzZYMg-unsplash.png) ;
        background-size: cover;
        background-position-x: 45%;
        padding: 138px 40px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        .fifth-section-content{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 32px 100px;
            gap: 40px;
            h2{
                color: $white-color;
                text-align: center;
            }
            div{
                width: 100%;
                display: flex;
                p{
                    color: $white-color;
                    text-align: center;
                    width: 50%;
                }
            }
        }
        .green{
            background-color: rgba(178, 210, 52, 0.85);
        }
        .blue{
            background-color: rgba(96, 160, 216, 0.85);
        }
    }
    .last-section{
        background-image: url(../img/61842.png);
        background-size: contain;
        display: flex;
        .last-section-img{
            background-image: url(../img/anh-nguyen-_Uqj5BQb-mw-unsplash.png);
        }
    }
}
footer{
    section{
        background-color: $green-color;
        display: grid;
        align-items: center;
        grid-template-columns: repeat(4, 1fr);
        padding: 66px 39px;
        img{
            width: 96%;
            height: auto;
        }
        .footer-content{
            margin-left: 23.55%;
            color: $white-color;
            width: 75%;
            display: flex;
            flex-direction: column;
            gap: 29px;
            h3{
                font-size: 27px;
                font-weight: $font-semi-bold;
                letter-spacing: 1.04px;
                line-height: 34px;
            }
            .footer-sous-content{
                display: flex;
                flex-direction: column;
                align-items: center;
                p{
                    text-align: center;
                    font-size: 18px;
                    font-weight: $font-regular;
                    letter-spacing: 1.04px;
                    line-height: 34px;
                }
            }
        }
    }
}