@use 'Base/reset' as *;
@use 'Base/typography' as *;
@use 'abstract/variables' as *;
@use 'Components/buttons' as *;
header{
    width: 100%;
    position: absolute;
    nav{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 25px 40px; // 25px 40px
        // img{}
        .navbar-side{
            display: flex;
            align-items: center;
            gap: 50px;
            ul{
                display: flex;
                gap: 50px;
                @media screen and (max-width: 1200px) {
                    gap: 30px;
                }
                li{
                    list-style: none;
                    color: $white-color;
                    font-size: 18px;
                    font-weight: $font-light;
                    letter-spacing: 0px;
                    line-height: 27px;
                }
            }
            .header-btn{
                font-size: 15px;
                padding: 9px 30px;
                line-height: 27px;
            }
            @media screen and (max-width: 1000px) {
                display: none;
            }
        }
        .menu{
            display: none;
            width: 4%;
            @media screen and (max-width: 1000px) {
                display: block;
            }
        }
    }
}
main{
    .head-section{
        height: 100vh;
        .head-section-img{
            width: 100%;
            height: 100%;
            background-image: url(../img/Header\ back.png);
            background-size: cover;
            .head-section-overlay{
                width: 100%;
                height: 100%;
                background: linear-gradient(-45deg, rgba(96, 160, 216, 0.62) 0%, rgba(178, 210, 52, 0.62) 100%);
                .head-section-content{
                    width: 100%;
                    height: 100%;
                    padding: 48.5px 40px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    .head-section-title{
                        width: 59%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        flex: 1;
                        h1{
                            font-size: 168px; // = 126pt
                            font-weight: $font-medium;
                            color: $white-color;
                            letter-spacing: 0px;
                            line-height: 252px; // = 189pt
                            @media screen and (max-width: 1000px) {
                                font-size: 120px; // = 90pt
                                line-height: 180px; // = 135pt
                            }
                            @media screen and (max-width: 600px) {
                                font-size: 100px; // = 75pt
                                line-height: 150px; // = 112.5pt
                            }
                            @media screen and (max-width: 500px) {
                                font-size: 60px;
                                line-height: 120px;
                            }
                        }
                        h2{
                            margin-top: -4%;
                            margin-left: 22%;
                            font-size: 72px;// = 54pt
                            font-weight: $font-medium;
                            font-style: italic;
                            color: $white-color;
                            letter-spacing: 0px;
                            line-height: 108px; // = 81pt
                            transform: rotate(-9deg);
                            @media screen and (max-width: 1000px) {
                                font-size: 50px; // = 37.5pt
                                line-height: 75px; // = 56.25pt
                            }
                            @media screen and (max-width: 600px) {
                                font-size: 40px; // = 30pt
                                line-height: 60px; // = 45pt
                            }
                            @media screen and (max-width: 1000px) {
                                font-size: 30px;
                                line-height: 30px;
                            }
                        }
                    }
                    .head-section-icon-social{
                        align-self: flex-end;
                        display: flex;
                        justify-content: flex-end;
                        gap: 20px;
                    }
                }
            }
        }
    }
    .second-section{
        padding-inline-start: 148px;
        padding-block: 159px;
        background-image: url(../img/61842.png);
        background-size: auto;
        display: flex;
        overflow-x: hidden;
        overflow-y: hidden;
        .second-section-conteneur{
            position: relative;
            display: flex;
            .second-section-content{
                position: relative;
                z-index: 2;
                display: flex;
                flex-direction: column;
                gap: 40px;
                width: 70%;
                p{
                    width: 66%;
                }
                button{
                    width: 36%;
                }
            }
            img{
                position: absolute;
                top: -40%;
                right: -30%;
                z-index: 1;
                height: 200%;
            }
        }
    }
    .third-section{
        position: relative;
        z-index: 3;
        background-image: url(../img/ismael-trevino-NDyuR4Huig8-unsplash.png);
        background-size: cover;
        padding: 84px 154px;
        display: flex;
        justify-content: flex-end;
        .third-section-content{
            background-color: rgba(178, 210, 52, 0.85);
            width: 60%;
            padding: 42px 68px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 40px;
            h2{
                color: $white-color;
                text-align: center;
            }
            p{
                color: $white-color;
                text-align: center;
                span{
                    text-decoration: underline;
                }
                strong{
                    font-weight: $font-semi-bold;
                }
            }
        }
    }
    .fourth-section{
        background-image: url(../img/pattern.png);
        background-size: auto;
        padding-block: 61px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 87px;
        .fourth-section-intro{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            p{
                text-align: center;
            }
        }
        .fourth-section-content{
            padding-inline: 148px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
            gap: 59px;
            .fourth-section-content-menu{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 50px;
                .fourth-section-content-menu-single{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 12px;
                    .title{
                        display: flex;
                        justify-content: space-between;
                        h3{
                            font-size: 24px;
                            font-weight: $font-medium;
                            letter-spacing: 1.04px;
                            line-height: 30px;
                        }
                    }
                }
                .fourth-section-content-menu-single:nth-child(3){
                    position: relative;
                    padding: 11px;
                    width: 105%;
                    border: 1px solid $green-color;
                }
                .fourth-section-content-menu-single:nth-child(3)::before{
                    content: "La plus vendue !";
                    position: absolute;
                    top: -22px;
                    right: -1px;
                    padding-inline: 13px;
                    padding-block-start: 2px;
                    padding-block-end: 5px;
                    background-color: $green-color;
                    color: $white-color;
                    font-size: 12px;
                    font-weight: $font-regular;
                    letter-spacing: 1.04px;
                    line-height: 15px;
                }
            }
            .fourth-section-content-text{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 89px;
                .fourth-section-content-text-title{
                    width: 100%;
                    h2{
                        transform: rotate(-9deg);
                        font-size: 64px;
                        font-weight: $font-regular;
                        font-style: $font-italic;
                        letter-spacing: 0;
                        line-height: 95px;
                    }
                    h2:last-child{
                        color: #60A0D8;
                    }
                }
                p{
                    text-align: end;
                }
            }
        }
    }
    .fifth-section{
        background-image: url(../img/louis-hansel-MlPD-AzZYMg-unsplash.png) ;
        background-size: cover;
        background-position-x: 45%;
        padding: 138px 40px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        @media screen and (max-width: 800px) {
            grid-template-columns: 1fr;
        }
        .fifth-section-content{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 32px 100px;
            gap: 40px;
            @media screen and (max-width: 1000px) {
                padding: 32px 60px;
            }
            h2{
                color: $white-color;
                text-align: center;
            }
            div{
                width: 100%;
                display: flex;
                p{
                    color: $white-color;
                    text-align: center;
                    width: 50%;
                }
            }
        }
        .green{
            background-color: rgba(178, 210, 52, 0.85);
        }
        .blue{
            background-color: rgba(96, 160, 216, 0.85);
        }
    }
    .last-section{
        background-image: url(../img/61842.png);
        background-size: auto;
        padding: 83px 40px;
        display: flex;
        align-items: center;
        gap: 64px;
        .last-section-img{
            position: relative;
            background-image: url(../img/anh-nguyen-_Uqj5BQb-mw-unsplash.png);
            width: 43.9%;
            height: 32.75em;
            background-size: cover;
            background-position: center;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .last-section-img::after{
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 1px;
            border-top: 8px solid white;
            transform: translate(-50%, -50%);
        }
        .last-section-img::before{
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            width: 1px;
            height: 100%;
            border-left: 8px solid white;
            transform: translate(-50%, 0);
        }
        .last-section-content{
            display: flex;
            flex-direction: column;
            gap: 18px;
            form{
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 25px;
                .form-name{
                    display: flex;
                    flex-direction: row;
                    gap: 16px;
                    div{
                        width: 50%;
                        display: flex;
                        flex-direction: column;
                        gap: 8px;
                        h3{
                            font-size: 23px;
                            font-weight: $font-regular;
                            font-style: $font-italic;
                            letter-spacing: 1.04px;
                            line-height: 29px;
                        }
                        input{
                            width: 100%;
                        }
                    }
                }
                div{
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    h3{
                        font-size: 23px;
                        font-weight: $font-regular;
                        font-style: $font-italic;
                        letter-spacing: 1.04px;
                        line-height: 29px;
                    }
                    input{
                        width: 100%;
                    }
                    textarea{
                        resize: none;
                        width: 100%;
                        height: 135px;
                    }
                }
                button{
                    width: 31%;
                    align-self: center;
                }
            }
        }
    }
}
footer{
    section{
        background-color: $green-color;
        display: grid;
        align-items: center;
        grid-template-columns: repeat(4, 1fr);
        padding: 66px 39px;
        img{
            width: 96%;
            height: auto;
        }
        .footer-content{
            margin-left: 23.55%;
            color: $white-color;
            width: 75%;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 27px;
            h3{
                color: $white-color;
                font-size: 27px;
                font-weight: $font-semi-bold;
                letter-spacing: 1.04px;
                line-height: 34px;
            }
            .footer-sous-content{
                display: flex;
                flex-direction: column;
                align-items: center;
                p{
                    color: $white-color;
                    text-align: center;
                    font-size: 18px;
                    font-weight: $font-regular;
                    letter-spacing: 1.04px;
                    line-height: 34px;
                }
            }
        }
    }
}