h2 {
  color: #B2D234;
  font-size: 52px;
  font-weight: 600;
  letter-spacing: 1.04px;
  line-height: 66px;
}

p {
  color: #606060;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.04px;
  line-height: 24px;
}

h3 {
  color: #B2D234;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

button {
  border-radius: 8px;
  padding: 14px 60px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border: none;
  font-size: 24px;
  letter-spacing: 1.04px;
  line-height: 43px;
  font-weight: 600;
}

.green-btn {
  background-color: #B2D234;
  color: #FFFFFF;
}

.white-btn {
  background-color: #FFFFFF;
  color: #B2D234;
}

header {
  width: 100%;
  position: absolute;
}
header nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 40px;
}
header nav .navbar-side {
  display: flex;
  align-items: center;
  gap: 50px;
}
header nav .navbar-side ul {
  display: flex;
  gap: 50px;
}
header nav .navbar-side ul li {
  list-style: none;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0px;
  line-height: 27px;
}
header nav .navbar-side .header-btn {
  font-size: 15px;
  padding: 9px 30px;
  line-height: 27px;
}

main .head-section {
  height: 100vh;
}
main .head-section .head-section-img {
  width: 100%;
  height: 100%;
  background-image: url(../img/Header\ back.png);
  background-size: cover;
}
main .head-section .head-section-img .head-section-overlay {
  width: 100%;
  height: 100%;
  background: linear-gradient(-45deg, rgba(96, 160, 216, 0.62) 0%, rgba(178, 210, 52, 0.62) 100%);
}
main .head-section .head-section-img .head-section-overlay .head-section-content {
  width: 100%;
  height: 100%;
  padding: 48.5px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .head-section .head-section-img .head-section-overlay .head-section-content .head-section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}
main .head-section .head-section-img .head-section-overlay .head-section-content .head-section-title h1 {
  font-size: 168px;
  font-weight: 500;
  color: #FFFFFF;
  letter-spacing: 0px;
  line-height: 252px;
}
main .head-section .head-section-img .head-section-overlay .head-section-content .head-section-title h2 {
  font-size: 72px;
  font-weight: italic;
  color: #FFFFFF;
  letter-spacing: 0px;
  line-height: 108px;
}
main .head-section .head-section-img .head-section-overlay .head-section-content .head-section-icon-social {
  justify-self: end;
  align-self: flex-end;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
main .second-section {
  padding-inline-start: 148px;
  padding-block: 159px;
  background-image: url(../img/61842.png);
  background-size: auto;
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
}
main .second-section .second-section-conteneur {
  position: relative;
  display: flex;
}
main .second-section .second-section-conteneur .second-section-content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 70%;
}
main .second-section .second-section-conteneur .second-section-content p {
  width: 66%;
}
main .second-section .second-section-conteneur .second-section-content button {
  width: 36%;
}
main .second-section .second-section-conteneur img {
  position: absolute;
  top: -40%;
  right: -30%;
  z-index: 1;
  height: 200%;
}
main .third-section {
  position: relative;
  z-index: 3;
  background-image: url(../img/ismael-trevino-NDyuR4Huig8-unsplash.png);
  background-size: cover;
  padding: 84px 154px;
  display: flex;
  justify-content: flex-end;
}
main .third-section .third-section-content {
  background-color: rgba(178, 210, 52, 0.85);
  width: 60%;
  padding: 42px 68px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
main .third-section .third-section-content h2 {
  color: #FFFFFF;
  text-align: center;
}
main .third-section .third-section-content p {
  color: #FFFFFF;
  text-align: center;
}
main .third-section .third-section-content p span {
  text-decoration: underline;
}
main .third-section .third-section-content p strong {
  font-weight: 600;
}
main .fourth-section {
  background-image: url(../img/pattern.png);
  background-size: auto;
  padding-block: 61px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 87px;
}
main .fourth-section .fourth-section-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
main .fourth-section .fourth-section-intro p {
  text-align: center;
}
main .fourth-section .fourth-section-content {
  padding-inline: 148px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 59px;
}
main .fourth-section .fourth-section-content .fourth-section-content-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
main .fourth-section .fourth-section-content .fourth-section-content-menu .fourth-section-content-menu-single {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
main .fourth-section .fourth-section-content .fourth-section-content-menu .fourth-section-content-menu-single .title {
  display: flex;
  justify-content: space-between;
}
main .fourth-section .fourth-section-content .fourth-section-content-menu .fourth-section-content-menu-single .title h3 {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 1.04px;
  line-height: 30px;
}
main .fourth-section .fourth-section-content .fourth-section-content-menu .fourth-section-content-menu-single:nth-child(3) {
  position: relative;
  padding: 11px;
  width: 105%;
  border: 1px solid #B2D234;
}
main .fourth-section .fourth-section-content .fourth-section-content-menu .fourth-section-content-menu-single:nth-child(3)::before {
  content: "La plus vendue !";
  position: absolute;
  top: -22px;
  right: -1px;
  padding-inline: 13px;
  padding-block-start: 2px;
  padding-block-end: 5px;
  background-color: #B2D234;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1.04px;
  line-height: 15px;
}
main .fourth-section .fourth-section-content .fourth-section-content-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 89px;
}
main .fourth-section .fourth-section-content .fourth-section-content-text .fourth-section-content-text-title {
  width: 100%;
}
main .fourth-section .fourth-section-content .fourth-section-content-text .fourth-section-content-text-title h2 {
  transform: rotate(-9deg);
  font-size: 64px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0;
  line-height: 95px;
}
main .fourth-section .fourth-section-content .fourth-section-content-text .fourth-section-content-text-title h2:last-child {
  color: #60A0D8;
}
main .fourth-section .fourth-section-content .fourth-section-content-text p {
  text-align: end;
}
main .fifth-section {
  background-image: url(../img/louis-hansel-MlPD-AzZYMg-unsplash.png);
  background-size: cover;
  background-position-x: 45%;
  padding: 138px 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}
main .fifth-section .fifth-section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 100px;
  gap: 40px;
}
main .fifth-section .fifth-section-content h2 {
  color: #FFFFFF;
  text-align: center;
}
main .fifth-section .fifth-section-content div {
  width: 100%;
  display: flex;
}
main .fifth-section .fifth-section-content div p {
  color: #FFFFFF;
  text-align: center;
  width: 50%;
}
main .fifth-section .green {
  background-color: rgba(178, 210, 52, 0.85);
}
main .fifth-section .blue {
  background-color: rgba(96, 160, 216, 0.85);
}
main .last-section {
  background-image: url(../img/61842.png);
  background-size: auto;
  padding: 83px 40px;
  display: flex;
  align-items: center;
  gap: 64px;
}
main .last-section .last-section-img {
  position: relative;
  background-image: url(../img/anh-nguyen-_Uqj5BQb-mw-unsplash.png);
  width: 43.9%;
  height: 32.75em;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .last-section .last-section-img::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 1px;
  border-top: 8px solid white;
  transform: translate(-50%, -50%);
}
main .last-section .last-section-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 1px;
  height: 100%;
  border-left: 8px solid white;
  transform: translate(-50%, 0);
}
main .last-section .last-section-content {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
main .last-section .last-section-content form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
main .last-section .last-section-content form .form-name {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
main .last-section .last-section-content form .form-name div {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
main .last-section .last-section-content form .form-name div h3 {
  font-size: 23px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 1.04px;
  line-height: 29px;
}
main .last-section .last-section-content form .form-name div input {
  width: 100%;
}
main .last-section .last-section-content form div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
main .last-section .last-section-content form div h3 {
  font-size: 23px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 1.04px;
  line-height: 29px;
}
main .last-section .last-section-content form div input {
  width: 100%;
}
main .last-section .last-section-content form div textarea {
  resize: none;
  width: 100%;
  height: 135px;
}
main .last-section .last-section-content form button {
  width: 31%;
  align-self: center;
}

footer section {
  background-color: #B2D234;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  padding: 66px 39px;
}
footer section img {
  width: 96%;
  height: auto;
}
footer section .footer-content {
  margin-left: 23.55%;
  color: #FFFFFF;
  width: 75%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 27px;
}
footer section .footer-content h3 {
  color: #FFFFFF;
  font-size: 27px;
  font-weight: 600;
  letter-spacing: 1.04px;
  line-height: 34px;
}
footer section .footer-content .footer-sous-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer section .footer-content .footer-sous-content p {
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.04px;
  line-height: 34px;
}

/*# sourceMappingURL=main.css.map */
