* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  width: 256px;
  height: 61px;
  font-family: "Poppins", sans serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 43px;
  letter-spacing: 1.04px;
  color: #B2D234;
  background-color: #FFFFFF;
  box-shadow: 0 8px;
  backdrop-filter: blur(16%);
}
.btn .primary-btn {
  border: green;
  height: 39px;
  width: 160px;
  font-size: 15px;
  font-family: "Poppins", sans serif;
  font-weight: 600;
  cursor: pointer;
  color: #B2D234;
  border-radius: 9px;
  background-color: #FFFFFF;
}
.btn .secondary-btn {
  color: #B2D234;
  background-color: #FFFFFF;
}

header {
  background-image: url("../img/Header back.png");
  background-size: cover;
  width: 1920px;
  height: 1080px;
}
header .overlay {
  background: linear-gradient(-45deg, #60A0D8, #B2D234);
  opacity: 0.62;
  width: 120em;
  height: 67.5em;
}
header .header-content {
  position: absolute;
  z-index: 1;
  top: 2.5em;
  left: 1.563em;
  width: 120em;
  height: 67.5em;
}
header .header-content nav {
  display: flex;
  align-items: center;
  gap: 353px;
  width: 114.688em;
}
header .header-content nav img {
  width: 200px;
}
header .header-content nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  gap: 50px;
  flex: 1 1 auto;
}
header .header-content nav ul li a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 18px;
  font-family: "Poppins", sans serif;
  font-weight: 300;
  cursor: pointer;
}
header .header-content nav button {
  border: none;
  height: 39px;
  width: 160px;
  font-size: 15px;
  font-family: "Poppins", sans serif;
  font-weight: 600;
  cursor: pointer;
  color: #B2D234;
  border-radius: 9px;
  background-color: #FFFFFF;
}
header .header-content .header-title {
  font-family: "Poppins", sans serif;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
}
header .header-content .header-title .title {
  display: flex;
  flex-direction: column;
}
header .header-content .header-title .title h1 {
  font-size: 126px;
  font-weight: 400;
}
header .header-content .header-title .title h2 {
  margin-left: 182.58px;
  font-size: 54px;
  font-weight: 400;
  transform: rotate(-9deg);
  margin-top: -25px;
}

main {
  position: relative;
  margin-top: -36px;
  z-index: -1;
}
main .welcome {
  background-image: url("../img/61842.png");
  width: 1920px;
  height: 752px;
}
main .welcome-conteneur {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .welcome-conteneur .welcome-text {
  margin-left: 300px;
  margin-top: -180px;
  font-family: "Poppins", sans serif;
  padding-bottom: 40px;
}
main .welcome-conteneur .welcome-text h2 {
  color: #B2D234;
  font-size: 52px;
  font-weight: 600;
}
main .welcome-conteneur .welcome-text p {
  padding-bottom: 40px;
  font-size: 18px;
  font-weight: 400;
  width: 476px;
  line-height: 24px;
}
main .welcome-conteneur img {
  margin-left: 500px;
  height: 983px;
  width: auto;
}
main .accroche {
  background-image: url(../img/ismael-trevino-NDyuR4Huig8-unsplash.png);
  background-size: cover;
  height: 809px;
  width: 1920px;
  position: relative;
  z-index: 1;
  color: #FFFFFF;
}
main .accroche .accroche-conteneur-haut {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 809px;
}
main .accroche .accroche-conteneur-haut .accroche-conteneur-bas {
  margin-right: 9.625em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #B2D234;
  opacity: 0.85;
  width: 632px;
  height: 642px;
}
main .accroche .accroche-conteneur-haut .accroche-conteneur-bas .accroche-conteneur-bas-content {
  font-family: "Poppins", sans serif;
  width: 471px;
  height: 556px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5em;
}
main .accroche .accroche-conteneur-haut .accroche-conteneur-bas .accroche-conteneur-bas-content h2 {
  width: 428px;
  text-align: center;
  font-size: 52px;
  font-weight: 600;
  padding-bottom: 40px;
  line-height: 66px;
  letter-spacing: 1.04px;
}
main .accroche .accroche-conteneur-haut .accroche-conteneur-bas .accroche-conteneur-bas-content .accroche-conteneur-bas-content-text p {
  width: 428px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1.04px;
  text-align: center;
}
main .menu {
  background-image: url(../img/pattern.png);
}
main .preparation {
  background-image: url(../img/louis-hansel-MlPD-AzZYMg-unsplash.png);
}
main .form {
  background-image: url(../img/61842.png);
}

footer {
  background-color: #B2D234;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  height: 290px;
  width: 1920px;
  color: #FFFFFF;
  font-family: "Poppins", sans serif;
}
footer section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
footer section h3 {
  font-size: 27px;
  font-weight: 600;
  line-height: normal;
}
footer section p {
  line-height: 34px;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}
footer section p a {
  text-decoration: none;
  color: white;
}

/*# sourceMappingURL=main.css.map */
