$btn-large-radius : 14px;
@use '../abstract/variables' as *;
@use '../Base/typography' as *;
@use '../Themes/themes' as *;
.btn-secondary-btn{
    width: 256px;
    height: 61px;
    font-family: $font;
    font-size: 24px;
    font-weight: $font-semi-bold;
    line-height: 43px;
    letter-spacing: 1.04px;
    color: $green-light;
    background-color: $white;
    border-color: $green-light;
    border-radius: 14px;
    box-shadow: 0 8px rgba(0,0,0,0.16);
    backdrop-filter: blur(16px);
}
.btn-primary-btn {
    width: 256px;
    height: 92px;
    font-size: 24px;
    font-weight: $font-semi-bold;
    line-height: 43px;
    color: $white;
    background-color: $green-light;
    border-color: $green-light;
    border-radius: 14px;
    box-shadow: 0 8px;
    backdrop-filter: blur(16px);
}