@use '../abstract/variables' as *;
@use '../Base/typography' as *;
.btn-secondary-btn{
    width: 256px;
    height: 61px;
    font-family: $font;
    font-size: 24px;
    font-weight: $font-semi-bold;
    line-height: 43px;
    letter-spacing: 1.04px;
    color: $green-light;
    background-color: $white;
    border-color: $green-light;
    border-radius: 14px;
    box-shadow: 0 8px rgba(0,0,0,0.16);
    backdrop-filter: blur(16px);
}
.btn-primary-btn {
    width: 256px;
    height: 92px;
    font-size: 24px;
    font-weight: $font-semi-bold;
    line-height: 43px;
    color: $white;
    background-color: $green-light;
    border-color: $green-light;
    border-radius: 14px;
    box-shadow: 0 8px;
    backdrop-filter: blur(16px);
    @media screen and (max-width: 1366px) {
        width: 13.063em;
        height: 3.75em;
    }
    @media screen and (max-width: 376px) {
        height: 2em;
        width: 10em;
    }
}