@use '../abstract/variables' as *;
$font-family: 'Poppins', sans-serif;
$font-semi-bold: 600;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-italic: italic;

// for basics text and add color white or black-grey
$font-size-p: 18px;
$letter-spacing-p: 1.04px;
$line-height-p: 24px; // = 24pt
// for title h2 and add color white or green
$font-size-h2: 52px; 
$letter-spacing-h2: 1.04px;
$line-height-h2: 66px; // = 66pt

h2{
    color: $green-color;
    font-size: $font-size-h2;
    font-weight: $font-semi-bold;
    letter-spacing: $letter-spacing-h2;
    line-height: $line-height-h2;
}
p{
    color: $black-grey-color;
    font-size: $font-size-p;
    font-weight: $font-regular;
    letter-spacing: $letter-spacing-p;
    line-height: $line-height-p;
}
h3{
    color: $green-color;
}