//colors
$green-light : #B2D234;
$white : #FFFFFF;
$blue-light : #60A0D8;

//button
$btn-large-radius : 14px;

//font
$font : 'Poppins', sans serif;
$font-semi-bold : 600;
$font-light : 300;
$font-normal : 400;
$font-bolt : 700;